#weather {
    width: max-content;
    border-radius: 24px;
    background-color: #1488e1;
    color: #ffffff;
    padding: 6px 16px;
    margin: 24px;
}
#weather p {
    display: inline-block;
    margin: 0px 6px;
}
#weather #deg {
    margin: 0px 24px 0px 0px;
}
#weather #date {
    font-size: 12px;
    vertical-align: middle;
}
#weather img {
    width: 48px;
    vertical-align: middle;
}

#profile {
    width: max-content;
    border-radius: 24px;
    background-color: #ffc1d6;
    padding: 24px;
    margin: 24px;
}
#weather p {
    display: inline-block;
    margin: 0px 6px;
}
#weather #deg {
    margin: 0px 24px 0px 0px;
}
#weather #date {
    font-size: 12px;
    vertical-align: middle;
}
#profile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
}