* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

#weather {
    width: max-content;
    border-radius: 24px;
    background-color: #1488e1;
    color: #ffffff;
    padding: 6px 16px;
    margin: 24px;
}
#weather p {
    display: inline-block;
    margin: 0px 6px;
}
#weather #deg {
    margin: 0px 24px 0px 0px;
}
#weather #date {
    font-size: 12px;
    vertical-align: middle;
}
#weather img {
    width: 48px;
    vertical-align: middle;
}

#calendar {
    width: max-content;
    border-radius: 24px;
    border: 1px solid #ddd;
    padding: 16px;
    margin: 24px;
}
#calendar .weekday {
    color: tomato;
}
