@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Poppins", sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
h1,
h2,
h3,
.logo {
    font-family: "Staatliches", sans-serif;
    font-size: 140%;
}
.logo span {
    color: #0099ff;
}
a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
}
.sc {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}
.btn {
    display: inline-block;
    font-weight: 500;
    padding: 6px 16px;
}
.split {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}
.split:has(.fw) {
    gap: 10px 50px;
}
.split .column {
    flex: 1;
}
.split .column img {
    height: 100%;
}
.split .fw {
    flex: 100%;
    margin: 0px;
}
.split .sp {
    margin: 15px 0px;
}

p + p {
    margin-top: 15px;
}

nav {
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
nav .logo {
    margin-right: auto;
}
footer {
    text-align: center;
    padding: 15px;
    background-color: #111;
    color: #fff;
    margin-top: 50px;
}

#hero {
    height: 70vh;
    background:
        linear-gradient(45deg, #111, #111a, #1110),
        url("../images/mockup-2.jpg");
    background-size: contain;
    background-position: center center;
    color: #fff;
    display: flex;
    align-items: flex-end;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
#hero h1 {
    font-size: 4rem;
    letter-spacing: 0.125em;
}
#hero h4 {
    font-weight: 200;
    letter-spacing: 0.115em;
}
#hero h4 span {
    color: #ff8400;
}

#main.sc {
    max-width: 800px;
}
.process {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.process h2 {
    margin-bottom: 10px;
}
#flatworks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#flatworks img {
    height: 90vh;
    width: auto;
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    .split {
        flex-direction: column;
        gap: 30px;
    }
    .split .column {
        flex: auto;
    }
}